.main-header {
  &__outer {
    display: flex;
    justify-content: end;
    margin: 1rem 1rem;
  }
  &__inner {
    margin: 2rem;
    padding: 0.5rem;
    border-radius: 100%;
  }
  &__inner:hover {
    background-color: #f9fafb;
  }
  &__icon {
    display: flex;
    margin-left: 0.4rem;
    align-items: center;
    cursor: pointer;
  }
}
