$tablet-width: 650px;
$pc-width: 1300px;

@mixin small {
  @media (max-width: #{$tablet-width - 1px}) {
    @content;
  }
}

@mixin medium {
  @media (min-width: #{$tablet-width}) and (max-width: #{$pc-width - 1}) {
    @content;
  }
}

@mixin large {
  @media (min-width: #{$pc-width }) {
    @content;
  }
}

html {
  @include small {
    font-size: 10px;
  }

  @include medium {
    font-size: 13px;
  }

  @include large {
    font-size: 16px;
  }
}
