@import './_reset.scss';
@import './_responsive.scss';

body,
html {
  overflow: hidden;
  max-width: 1600px;
  min-height: 100vh;
  margin: 0 auto;
}

@mixin container-box {
  border: 2px solid #ccc;
  border-radius: 10px;
}
