.searchBar {
  display: flex;
  width: 60%;
  padding: 1rem;
  margin: auto;
  border-radius: 1rem;
  border: 1px solid #f3f4f6;
  background-color: #f9fafb;
  &__input {
    width: 100%;
    padding: 0.5rem;
    font-size: 1.4rem;
    background-color: inherit;
    outline: none;
    border: none;
  }
  &__icon {
    width: 2rem;
  }
}
